{% extends 'participantes/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- {{ form.as_p }} -->
  <div class="form-group">
    <label for="nombre" class="txt_negrita">Nombre</label>
    {{ form.nombre|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
  </div>
  <div class="form-group">
    <label for="lugar" class="txt_negrita">Lugar</label>
    {{ form.lugar|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
  </div>
  <div class="form-group">
    <label for="fecha" class="txt_negrita">Fecha</label>
    {{ form.fecha|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
  </div>

  <button type="submit" class="btn btn-primary">Aceptar</button>
  <a href="../" type="submit" class="btn btn-primary">Volver</a>

</form>

{% endblock %}
