{% extends 'participantes/base.html' %}
{% load static %}
{% block content %}


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Telefono</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>

    {% for participante in participante_list %}
    <tr>
      <td>{{ participante.nombre }}</td>
      <td>{{ participante.apellido }}</td>
      <td>{{ participante.telefono }}</td>
      <td>

        <form method="POST" action="eliminar/{{participante.p_id}}">
          {% csrf_token %}
          <div class="btn-group">

            <a href="detalle/{{participante.p_id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
            <a href="editar/{{participante.p_id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
              Eliminar
            </button>
          </div>
        </form>

      </td>
    </tr>
  {% endfor %}

  </tbody>
</table>

<div align="left" class="btn_crear mb-3">
  <a href="crear" type="button" class="btn btn-primary">Crear</a>
</div>

{% endblock %}
